In [1]:
import pandas as pd

In [7]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('Bookings.csv')
df.head(50)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,0.0,0,FB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2015-06-23
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,0.0,0,HB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,2015-07-05
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,0.0,0,BB,USA,Online TA,TA/TO,0,0,0,D,E,0,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,1.0,0,HB,ESP,Online TA,TA/TO,0,0,0,G,G,1,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,2015-07-05
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,0.0,0,BB,IRL,Online TA,TA/TO,0,0,0,D,E,0,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,0.0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,E,E,0,No Deposit,8.0,NaN,0,Contract,97.50,0,0,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,0.0,0,BB,IRL,Online TA,TA/TO,0,0,0,A,E,0,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,0.0,0,BB,FRA,Corporate,Corporate,0,0,0,A,G,0,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2015-07-02
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,0.0,0,BB,GBR,Direct,Direct,0,0,0,G,G,0,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out,2015-07-05
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,F,F,0,No Deposit,241.0,NaN,0,Transient,97.29,0,1,Check-Out,2015-07-06
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,A,A,1,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,A,A,1,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,D,D,1,No Deposit,250.0,NaN,0,Transient,99.67,0,1,Check-Out,2015-07-07
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,0.0,0,HB,GBR,Offline TA/TO,TA/TO,0,0,0,D,I,0,No Deposit,115.0,NaN,0,Contract,94.95,0,1,Check-Out,2015-07-01
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,0.0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out,2015-07-08
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,0.0,0,BB,IRL,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,2015-07-08
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,2015-05-11
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,94.00,0,0,Check-Out,2015-07-08
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,240.0,NaN,0,Transient,87.30,1,1,Check-Out,2015-07-08
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,0.0,0,BB,NaN,Direct,Direct,0,0,0,A,A,2,No Deposit,NaN,NaN,0,Transient,62.00,0,2,Check-Out,2015-07-15
31,Resort Hotel,0,95,2015,July,27,1,4,11,2,0.0,0,BB,GBR,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,241.0,NaN,0,Transient,63.86,0,0,Check-Out,2015-07-16
32,Resort Hotel,1,96,2015,July,27,1,2,8,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,E,E,0,No Deposit,NaN,NaN,0,Transient,108.30,0,2,Canceled,2015-05-29
33,Resort Hotel,0,69,2015,July,27,2,2,4,2,0.0,0,BB,IRL,Offline TA/TO,TA/TO,0,0,0,A,C,0,No Deposit,175.0,NaN,0,Transient,65.50,0,0,Check-Out,2015-07-08
34,Resort Hotel,1,45,2015,July,27,2,1,3,3,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Canceled,2015-05-19
35,Resort Hotel,1,40,2015,July,27,2,1,3,3,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Canceled,2015-06-19
36,Resort Hotel,0,15,2015,July,27,2,1,3,2,0.0,0,BB,ESP,Online TA,TA/TO,0,0,0,A,C,0,No Deposit,240.0,NaN,0,Transient,98.00,0,0,Check-Out,2015-07-06
37,Resort Hotel,0,36,2015,July,27,2,1,3,3,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,241.0,NaN,0,Transient,108.80,0,1,Check-Out,2015-07-06
38,Resort Hotel,1,43,2015,July,27,2,1,3,3,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,241.0,NaN,0,Transient,108.80,0,0,Canceled,2015-05-23
39,Resort Hotel,0,70,2015,July,27,2,2,3,2,0.0,0,HB,ROU,Direct,Direct,0,0,0,E,E,0,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,2015-07-07
40,Resort Hotel,1,45,2015,July,27,2,2,3,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,241.0,NaN,0,Transient,117.81,0,0,Canceled,2015-05-18
41,Resort Hotel,0,45,2015,July,27,2,2,3,2,0.0,0,BB,IRL,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,8.0,NaN,0,Contract,79.50,0,0,Check-Out,2015-07-07
42,Resort Hotel,0,16,2015,July,27,2,2,3,2,0.0,0,BB,ESP,Direct,Direct,0,0,0,F,F,0,No Deposit,NaN,NaN,0,Transient,123.00,0,0,Check-Out,2015-07-07
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,0.0,0,HB,ROU,Direct,Direct,0,0,0,E,E,0,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,2015-07-07
44,Resort Hotel,0,107,2015,July,27,2,2,5,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,110.70,0,2,Check-Out,2015-07-09
45,Resort Hotel,1,47,2015,July,27,2,2,5,2,2.0,0,BB,PRT,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,240.0,NaN,0,Transient,153.00,0,0,Canceled,2015-06-02
46,Resort Hotel,0,96,2015,July,27,2,2,5,2,0.0,0,BB,ESP,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,134.0,NaN,0,Transient,58.95,0,1,Check-Out,2015-07-09
47,Resort Hotel,0,113,2015,July,27,2,2,5,2,0.0,0,BB,NOR,Offline TA/TO,TA/TO,0,0,0,E,E,0,No Deposit,156.0,NaN,0,Transient-Party,82.88,0,2,Check-Out,2015-07-09
48,Resort Hotel,0,90,2015,July,27,2,2,5,2,0.0,0,HB,GBR,Offline TA/TO,TA/TO,0,0,0,A,B,1,No Deposit,243.0,NaN,0,Contract,82.35,0,0,Check-Out,2015-07-09
49,Resort Hotel,0,50,2015,July,27,2,2,5,2,0.0,0,HB,IRL,Online TA,TA/TO,0,0,0,E,F,1,No Deposit,241.0,NaN,0,Transient,119.35,0,1,Check-Out,2015-07-09

# Perform chi2 Test

In [8]:
df['required_car_parking_spaces'].value_counts()

0    111974
1      7383
2        28
3         3
8         2
Name: required_car_parking_spaces, dtype: int64

In [9]:
df['customer_type'].value_counts()

Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: customer_type, dtype: int64

In [10]:
df['deposit_type'].value_counts()

No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64

In [11]:
df['deposit_type'].value_counts()

No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64

In [12]:
df['assigned_room_type'].value_counts()

A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: assigned_room_type, dtype: int64

In [13]:
df['distribution_channel'].value_counts()

TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64

In [15]:
df['is_repeated_guest'].value_counts()

0    115580
1      3810
Name: is_repeated_guest, dtype: int64

In [16]:
df['reservation_status'].value_counts()

Check-Out    75166
Canceled     43017
No-Show       1207
Name: reservation_status, dtype: int64

In [ ]:
# ['hotel','distribution_channel','deposit_type','customer_type','is_repeated_guest','reservation_status','is_canceled']

In [18]:
df1 = df[['hotel','distribution_channel','deposit_type','customer_type','is_repeated_guest','reservation_status','is_canceled']]

In [20]:
df1.isna().sum()

hotel                   0
distribution_channel    0
deposit_type            0
customer_type           0
is_repeated_guest       0
reservation_status      0
is_canceled             0
dtype: int64

In [21]:
df1

,hotel,distribution_channel,deposit_type,customer_type,is_repeated_guest,reservation_status,is_canceled
0,Resort Hotel,Direct,No Deposit,Transient,0,Check-Out,0
1,Resort Hotel,Direct,No Deposit,Transient,0,Check-Out,0
2,Resort Hotel,Direct,No Deposit,Transient,0,Check-Out,0
3,Resort Hotel,Corporate,No Deposit,Transient,0,Check-Out,0
4,Resort Hotel,TA/TO,No Deposit,Transient,0,Check-Out,0
...,...,...,...,...,...,...,...
119385,City Hotel,TA/TO,No Deposit,Transient,0,Check-Out,0
119386,City Hotel,TA/TO,No Deposit,Transient,0,Check-Out,0
119387,City Hotel,TA/TO,No Deposit,Transient,0,Check-Out,0
119388,City Hotel,TA/TO,No Deposit,Transient,0,Check-Out,0
119389,City Hotel,TA/TO,No Deposit,Transient,0,Check-Out,0

In [22]:
import numpy as np

In [23]:
df1['hotel'] = np.where(df1['hotel']=='Resort Hotel',1,0)

<ipython-input-23-347ea9ecb29d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['hotel'] = np.where(df1['hotel']=='Resort Hotel',1,0)

In [24]:
df1

,hotel,distribution_channel,deposit_type,customer_type,is_repeated_guest,reservation_status,is_canceled
0,1,Direct,No Deposit,Transient,0,Check-Out,0
1,1,Direct,No Deposit,Transient,0,Check-Out,0
2,1,Direct,No Deposit,Transient,0,Check-Out,0
3,1,Corporate,No Deposit,Transient,0,Check-Out,0
4,1,TA/TO,No Deposit,Transient,0,Check-Out,0
...,...,...,...,...,...,...,...
119385,0,TA/TO,No Deposit,Transient,0,Check-Out,0
119386,0,TA/TO,No Deposit,Transient,0,Check-Out,0
119387,0,TA/TO,No Deposit,Transient,0,Check-Out,0
119388,0,TA/TO,No Deposit,Transient,0,Check-Out,0
119389,0,TA/TO,No Deposit,Transient,0,Check-Out,0

In [25]:
#lets perform encoding on other columns

In [27]:
ordinal_label = {k:i for i,k in enumerate(df1['distribution_channel'].unique(),0)}

In [28]:
ordinal_label

{'Direct': 0, 'Corporate': 1, 'TA/TO': 2, 'Undefined': 3, 'GDS': 4}

In [30]:
df1['distribution_channel'] = df1['distribution_channel'].map(ordinal_label)

<ipython-input-30-4088d18f202c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['distribution_channel'] = df1['distribution_channel'].map(ordinal_label)

In [31]:
df1

,hotel,distribution_channel,deposit_type,customer_type,is_repeated_guest,reservation_status,is_canceled
0,1,0,No Deposit,Transient,0,Check-Out,0
1,1,0,No Deposit,Transient,0,Check-Out,0
2,1,0,No Deposit,Transient,0,Check-Out,0
3,1,1,No Deposit,Transient,0,Check-Out,0
4,1,2,No Deposit,Transient,0,Check-Out,0
...,...,...,...,...,...,...,...
119385,0,2,No Deposit,Transient,0,Check-Out,0
119386,0,2,No Deposit,Transient,0,Check-Out,0
119387,0,2,No Deposit,Transient,0,Check-Out,0
119388,0,2,No Deposit,Transient,0,Check-Out,0
119389,0,2,No Deposit,Transient,0,Check-Out,0

In [32]:
ordinal_label = {k:i for i,k in enumerate(df1['deposit_type'].unique(),0)}
df1['deposit_type'] = df1['deposit_type'].map(ordinal_label)

<ipython-input-32-1aa2a5c7b8ca>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['deposit_type'] = df1['deposit_type'].map(ordinal_label)

In [33]:
ordinal_label = {k:i for i,k in enumerate(df1['customer_type'].unique(),0)}
df1['customer_type'] = df1['customer_type'].map(ordinal_label)

<ipython-input-33-863298d45d30>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['customer_type'] = df1['customer_type'].map(ordinal_label)

In [34]:
ordinal_label = {k:i for i,k in enumerate(df1['reservation_status'].unique(),0)}
df1['reservation_status'] = df1['reservation_status'].map(ordinal_label)

<ipython-input-34-98bca7029a45>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['reservation_status'] = df1['reservation_status'].map(ordinal_label)

In [35]:
df1

,hotel,distribution_channel,deposit_type,customer_type,is_repeated_guest,reservation_status,is_canceled
0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0
2,1,0,0,0,0,0,0
3,1,1,0,0,0,0,0
4,1,2,0,0,0,0,0
...,...,...,...,...,...,...,...
119385,0,2,0,0,0,0,0
119386,0,2,0,0,0,0,0
119387,0,2,0,0,0,0,0
119388,0,2,0,0,0,0,0
119389,0,2,0,0,0,0,0

In [36]:
# Train test split is usually done to avoid overfitting

In [37]:
from sklearn.model_selection import train_test_split

In [47]:
X_train,X_test,y_train,y_test =train_test_split(df1[['hotel','distribution_channel','deposit_type','customer_type','is_repeated_guest','reservation_status']],
                                               df1['is_canceled'],test_size = 0.3,random_state =100)

In [48]:
X_train.isna().sum()

hotel                   0
distribution_channel    0
deposit_type            0
customer_type           0
is_repeated_guest       0
reservation_status      0
dtype: int64

In [49]:
# Perform chi2 test -- it returns two values f-score & p value
from sklearn.feature_selection import chi2
f_p_values =chi2(X_train,y_train)

In [50]:
f_p_values

(array([ 1023.85703834,   651.99150451, 33790.11260888,  2198.40416491,
          609.23427103, 54080.12000905]),
 array([1.17129490e-224, 8.24136588e-144, 0.00000000e+000, 0.00000000e+000,
        1.64171172e-134, 0.00000000e+000]))

In [51]:
p_values = pd.Series(f_p_values[1])
p_values.index = X_train.columns
p_values

hotel                   1.171295e-224
distribution_channel    8.241366e-144
deposit_type             0.000000e+00
customer_type            0.000000e+00
is_repeated_guest       1.641712e-134
reservation_status       0.000000e+00
dtype: float64

In [53]:
p_values.sort_index(ascending=False)

reservation_status       0.000000e+00
is_repeated_guest       1.641712e-134
hotel                   1.171295e-224
distribution_channel    8.241366e-144
deposit_type             0.000000e+00
customer_type            0.000000e+00
dtype: float64

In [55]:
f_values = pd.Series(f_p_values[0])
f_values.index = X_train.columns
f_values

hotel                    1023.857038
distribution_channel      651.991505
deposit_type            33790.112609
customer_type            2198.404165
is_repeated_guest         609.234271
reservation_status      54080.120009
dtype: float64

In [56]:
f_values.sort_index(ascending = False)

reservation_status      54080.120009
is_repeated_guest         609.234271
hotel                    1023.857038
distribution_channel      651.991505
deposit_type            33790.112609
customer_type            2198.404165
dtype: float64

# deposit_type and reservation_type are most important features